<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern=">>> %d{DATE} [%-5p] %X{AWSRequestId} (%t) %C:%L: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleLogger" />
        </Root>
    </Loggers>
</Configuration>