:root {
    --primary-color: #ffffff;
    --secondary-color: #202020;
    --tertiary-color: #51ff77;
    --error-color: #EE3A23;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat:round;
    background-attachment: scroll;
}

.background {
    background: linear-gradient(90deg, #ff9f50, #fcbbff);
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
    border: solid;
}

.header_home {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.row {
    padding-top: 50px;
}

.button {
  background-color: var(--primary-color);
  border: solid;
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 6px 8px 6px 8px;
  line-height: 100%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.col-4 .button div {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
    padding: 5px 10px;
}

.col-4 .button div img {
    max-height: 22px;
    object-fit: scale-down;
    padding-right: 10px;
}

.note-sort-and-search {
    padding-top: 10px;
}

.dropdown-toggle {
    background-color: var(--primary-color);
    border: solid;
    border-radius: 5px;
    padding: 6px 8px 6px 8px;
    line-height: 100%;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#sort-by {
    font-weight: 400;
    background-color: white;
}

#search {
    width: 70%;
    text-align: left;
    font-weight: 400;
    color: rgb(108, 108, 108);
}

.note-previews-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.note-previews-container .button {
    border-radius: 15px;
}

#note-preview-button {
    height: 100px;
    width: 100%;
}

.primary-note-container {
    width: 100%;
    height: auto;
    min-height: 600px;
    background: #ffffff;
    padding-top: 15px;
    border: solid;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.primary-note-title {
    font-size: xx-large;
    font-weight: 500;
}

.primary-note-date-created {
    display: none;
}

.divider {
    width: 100%;
}

.primary-note-content {
    text-align: left;
    width: 90%;
    padding-bottom: 50px;
    margin-bottom: 25px;
}

.space-after-content{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-right: 25px;
    padding-bottom: 25px;
}

#delete-note {
    margin-left: 10px;
}

.col-6 .button img {
    max-height: 22px;
    object-fit: scale-down;
}

#overlay {
    position: relative;
    display: none;
    height: 100%;
    max-height: 600px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.record-voice-note {
    height: 100px;
    width: 100px;
    border: none;
    margin: 20px;
    background: #ffffff;
}

.recording-image {
    height: 100px;
    width: 100px;
}

